@charset "UTF-8";


/*

   ######   #######   #####   #######  #######
   #     #  #        #     #  #           #
   #     #  #        #        #           #
   ######   #####     #####   #####       #
   #   #    #              #  #           #
   #    #   #        #     #  #           #
   #     #  #######   #####   #######     #


*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*

     ####   #######  #     #  #######  ######      #     #
    #    #  #        ##    #  #        #     #     #     #
   #        #        # #   #  #        #     #    ###    #
   #   ###  #####    #  #  #  #####    ######     # #    #
   #     #  #        #   # #  #        #   #     #####   #
    #    #  #        #    ##  #        #    #    #   #   #
     #####  #######  #     #  #######  #     #  ##   ##  ######


*/
html, body {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #222;
}

body 
{
  background-image: url("../img/bg.png");
  display: inline-block;
}

aside
{ 
    position: relative;
    display: block;
    width: 100%;
    align-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Racing Sans One', sans-serif;
  font-weight: 400;
  color: #eee;
}

h1 {font-size: 63px;}
h2 {font-size: 56px;}
h3 {font-size: 49px;}
h4 {font-size: 42px;}
h5 {font-size: 35px;}
h6 {font-size: 28px;}


a {
  outline: none;
  text-decoration: none;
}

p, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: #eee;
}

@media (max-width: 700px) {
  p, a {
    font-size: 17.5px;
    line-height: 21px;
  }
}

strong { font-weight: 600; }

em { font-style: italic; }

i {
  font-size: 28px;
  color: #222;
}

br { font-size: 21px; }

span
{
  color: white;
  font-family: 'Racing Sans One', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

input
{
  background-color: white;
  color: black;
  font-family: 'Racing Sans One', sans-serif;
  font-weight: 100;
  font-size: 20px;
  border-radius: 10%;

}
.i_total
{
  width:105px;
}

.center {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hide { display: none; }

.container 
{ 
  display: inline-block;
  position: relative;
  max-width: 95%;
  max-height: 300px;
  height: auto;
  margin: 5px auto;
}

@media (max-width: 400px) {
  .container {
    padding: 10px;
  }
}


.base 
{
  display: inline-block;
  position: relative;
  width: 100%;
}


/*

   #     #     #     ##   ##
   ##    #     #      #   #
   # #   #    ###     #   #
   #  #  #    # #      # #
   #   # #   #####     # #
   #    ##   #   #      #
   #     #  ##   ##     #


*/
nav 
{
  background: white;
  display: block;
  position: relative;
  height: 50px;
  padding: 10px;
}

nav h1 {
  letter-spacing: 4px;
}

nav p {
  text-decoration: underline;
}
<<<<<<< HEAD
/*navegador*/
.nav-ele {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  color: black;
}

p.nav-ele 
{
  text-align: center;
}
=======

>>>>>>> 419a05c7b0d6aeb16fd7bf7ef793d44b1029058e

#logo {
  display:block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 50px;
  padding: auto;
}

<<<<<<< HEAD

#menu{
=======
#login{
>>>>>>> 272e0a88cd5c4ac62254f27e7593e7bab0ba0b5e
  display:block;
  font-size: 250%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 35px;
  padding-left: 10px;
  color:black;
}
#login
{
  display:block;
  font-size: 250%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 35px;
<<<<<<< HEAD
  padding-right: 30px;
=======
  padding-left: 10px;
  color:black;
>>>>>>> 272e0a88cd5c4ac62254f27e7593e7bab0ba0b5e
}
.opc
{
  width: 345px;
  position: relative;
  display: block;
  top: 6px;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*

   #     #  #######     #     #####    #######  ######
   #     #  #           #     #    #   #        #     #
   #     #  #          ###    #     #  #        #     #
   #######  #####      # #    #     #  #####    ######
   #     #  #         #####   #     #  #        #   #
   #     #  #         #   #   #    #   #        #    #
   #     #  #######  ##   ##  #####    #######  #     #


*/


 .titulo{
        height: 100px;
        width: 300px;
        margin-left: 30px;
        margin-top: 10px
     }

#detalles
{
  display: inline-block;
  position: relative;
  width: 330px;
  height: 190px;
  box-shadow: 0 6px 14px -4px rgba(0,0,0,.5);
}

#carros, #camionetas, #camiones, #hogar
{
  position: absolute;
  top: 20px
}

#carrusel
{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 350px;
  box-shadow: 0 6px 14px -4px rgba(0,0,0,.5);
  max-width: 500px;
  overflow: hidden;
}

@media (max-width: 300px) {
   #carrusel {
    height: 300px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #eee;
}

#carrusel div {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#carrusel div img {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}

#carrusel div h1 {
  display: block;
  position: absolute;
  color: #eee;
  text-shadow: 2px 2px 6px rgba(0,0,0,.7);
  bottom: 10px;
  left: 10px;
}


/*

   #     #     #      #####   #     #
   ##   ##     #        #     ##    #
   # # # #    ###       #     # #   #
   #  #  #    # #       #     #  #  #
   #     #   #####      #     #   # #
   #     #   #   #      #     #    ##
   #     #  ##   ##   #####   #     #


*/
main {
  z-index: 3;
}

.mn-ele {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 258px;
  padding: 10px;
  margin: 10px;
  height: 310px;
  border-radius: 2px;
  background-color: rgba(0,0,0,.2);
  box-shadow: 0 6px 14px -4px rgba(0,0,0,.5);
  z-index: 3;
}

.mn-ele div {
  background-color: #ddd;
  box-shadow: 0 6px 4px -4px rgba(0,0,0,.5);
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.mn-ele div i {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 25px;
  font-size: 56px;
  text-align: center;
}

.anchor {
  color: #4b77be;
}
